#logo{
  text-align: center;
}
#en{
  color: #FFD700;
  text-align: center;
}
#dol{
  color: #228B22;
  text-align: center;
}
#ver{
  color: #FFB6C1;
  text-align: center;
}
#login{
  background-color: #00BFFF;
  text-align: center;
}
.lo{
  color: #FFFFFF
}
#start{
  text-align: center;
}
